include pug/configuraciones.pug

doctype html 
html(lang="en")
    +headDocument("Platzi Games")
    body 
        +header(usuario)
        main 
            +menu
            +introhome(titulo)
        +piePagina("Platzi Games")