include pug/head.pug
include pug/header.pug
include pug/intro.pug
include pug/contenido.pug

-var titulo = "Título Principal!"
-var subtitulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "Eduardo"


doctype html 
html(lang="en")
    +headDocument("Platzi Games")
    body 
        +header(usuario)
        +intro(titulo)
        +contenido(subtitulos)