mixin introhome
    section.intro-home 
        h2 #{titulo}
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam veritatis, maxime commodi sit voluptates asperiores vel earum accusamus hic, error voluptas voluptate, perspiciatis consectetur nihil modi! Nisi reprehenderit cupiditate dolore.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe earum quidem dignissimos voluptatem nesciunt quisquam quis quod possimus? Ex explicabo illo doloremque quos quasi eos optio rerum, veniam sunt.
        a.boton Ver más 