mixin intro(titulo)
    section.intro 
        .intro__image: img(src="./images/imagen.png", alt="Imagen de prueba")
        .intro__contenido 
            h2 #{titulo} 
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat tempore quos inventore nihil quia quaerat quo iste sed quae, facere esse atque maiores recusandae a eum asperiores doloremque, rem nesciunt?
                span Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            a.boton Leer más