$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #FFFFFF;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

@mixin caja{
    color: $color-primario;
    background-color: $color-claro;
    border-radius: 20px;
    box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
}

* {
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body {
	margin: 0;
	font-family: $Fuente1;
	font-size: 1.6rem;
}
main{
	display: flex;
	width: 100%;
	height: 100vh;
}